.image-input-placeholder {
    background-image: url('https://delivery3-dzgdgkbdccbefha5.z03.azurefd.net/portal/assets/media/logos/quantso_banner.png');
}

.thumbnail-remove{
    left: 100%;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%,-50%);
}

.image-input-wrapper{
    background-position: center !important; 
    background-size: cover !important;"    
}

.image-input-wrapper.size{
    width: 510px;
    height: 115px;
}
